<nav>
    <ul class="nav-menu">

      <!--       <li class="open">
                <a>Solutions ⯆</a>
                <ul class="submenu">
                    <li><a class="dop-link" href="#smartxml">SmartXML</a></li>
                </ul>
            </li> -->
        
        <li class="logo-item">
            <a href="/">
                      <img id="logo" alt="Logo" src="/images/logo.svg">
            </a>
        </li>
        <li><a href="code-sharing.html">Code Sharing</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="test.html">Test</a></li>
        <li><a href="test2.html">Test2</a></li>
        <li><a href="test3.html">Test3</a></li>
    </ul>
</nav>